// _navigration.scss
.navbar {
  background-color: $lp-color-dblue;
  color: white;
  width: 100%;
  display: block;
  vertical-align: center;
  min-height: 59px;
  overflow: hidden;

  ul {
    margin: 0;
    padding: 0;

    @media only screen and (min-width : $xsmall-break) {
      display: none;
    }

    @media only screen and (min-width : $medium-break) {
      display: block;
    }

  }

  li {
    display: inline;

    a {
      position: relative;
      padding: 16px;

      @media only screen and (min-width : $xsmall-break) {
        display: block;
      }

      @media only screen and (min-width : $medium-break) {
        display: inline-block;
      }

      &:hover {
        background-color: black;
      }
    }
  }
}

#mobile-menu {
  position: relative;
  top: 16px;
  left: 16px;
  font-size: 26px;
  cursor: pointer;
  display: block;
  height: 59px;
  width: 59px;

  @media only screen and (min-width : $xsmall-break) {
    display: block;
  }

  @media only screen and (min-width : $medium-break) {
    display: none;
  }
}
