// General Variables
$body-size: 100%;
$one-col: $body-size / 12;

// Media Breaks
$x-small-break: 400px;
$small-break: 600px;
$medium-break: 700px;
$large-break: 800px;
$x-large-break: 1400px;
$xx-large-break: 1800px;

@import '_sap-grid.scss';
@import '_sap-text.scss';